@import 'variables.scss';
@import 'buttons.scss';
@import 'card.scss';
@import 'table.scss';

@font-face {
  font-family: Nexa;
  src: url("../fonts/Nexa Light.otf") format("opentype");
}

@font-face {
  font-family: Nexa;
  font-weight: bold;
  src: url("../fonts/Nexa Bold.otf") format("opentype");
}

body {
  background-color: $color-medium-gray;
  font-family: Nexa;
}
